.class1 {
	background-image: url('TY.JPG');
	width: 400px;
	height: 200px;
	
	background-size: cover ;
	background-size: contain;
	background-repeat: no-repeat;
	border: 2px solid red;
}

.class2 {
	width: 200px;
	height: 100px;
	background-color: yellow;
	/*box-shadow: -20px -40px 5px blue;*/
	box-shadow: 0 0 5px 10px blue;
	margin-bottom: 100px;
}

.class4 {
	background-color: red;
	width: 200px;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;


}

.class5 {
	width: 200px;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;

}