/*screen < 576px*/
/*Reset css*/
* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body {
	margin:16px;
	font-size: 16px;
}

form {
	max-width: 800px;
	margin: auto;
	/*remove later*/
	/*border: 1px solid black;*/
}

hr {
	max-width: 600px;
	margin:auto;
	border: none;
	border-top: 1px solid #dedede;
}

h1 {
	font-weight: normal;
	font-size:20px;
}

input:not([type=number], [type=radio], [type=checkbox]) {
	width: 100%;
	max-width: 300px;
	height: 25px;
}

[type=number], select {
	height: 25px;
	width:50px;
}

input::placeholder {
	font-style: italic;
}

b {
	color:red;
}

button {
	background-color: red;
	color:white;
	border:none;
	padding:10px 20px;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*screen >= 576px*/
@media (min-width: 576px) {
	.row {
		display: flex;
		flex-wrap: wrap;
	}

	.row.one-col {
		justify-content: flex-end;
	}

	.col-left {
		width: 30%;
		text-align: right;
		padding-right: 5px;
	}

	.col-right {
		width: 70%;
	}
}