/*Pseudo-element: chỉ định một phần của phần tử*/
/*Định dạng cho ký tự đầu tiên của thẻ*/
#id1::first-letter {
	font-size:20px;
	color:red;
}

/*Định dạng cho dòng đầu tiên của thẻ. Phóng to/thu nhỏ để thấy kết quả thay đổi ở dòng đầu tiên*/
#id2::first-line {
	font-size:20px;
	color:red;
}

/*Thêm nội dung vào trước thẻ*/
#id3::before {
	content:"ABC";
	font-size: 40px;
	color:blue;
}

/*Thêm nội dung vào sau thẻ*/
#id4::after {
	content:"ABC";
	font-size: 40px;
	color:blue;
}

#id5::placeholder {
  font-style: italic;
  color:red;
}

/*Opacity (Độ mờ/độ trong suốt): có gí trị từ 0.0 đến 1.0 (mặc định). Giá trị càng nhỏ thì càng mờ*/
#id6 {
	opacity:0.4;
}

.fa-home {
  color: purple;
  font-size: 35px;
}

/*z-index*/
.dashed-box { 
  position: relative;
  z-index: 1;
  border: dashed;
  height: 8em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.gold-box { 
  position: absolute;
  z-index: 3; 
  background: gold;
  width: 80%;
  left: 60px;
  top: 3em;
}
.green-box { 
  position: absolute;
  z-index: 2; 
  background: lightgreen;
  width: 20%;
  left: 65%;
  top: -25px;
  height: 7em;
  opacity: 0.9;
}
